<!-- just a simple form that's it! add some animations if ya want :D -->
<h2>Tell us why Joel is Awesome!</h2>

<%= form_for(@comment) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, :autofocus => true %>

<%= f.label :comment %>
<%= f.text_area :comment, :required => true %>

<%= f.submit %>
<% end %>
