<!-- just a simple form that's it! add some animations if ya want :D -->
<div class="bill-wrapper">
  <img id="bill-background" src="http://www.fillmurray.com/200/100" ></img>
</div>

<h2>Tell us why Joel is Awesome!</h2>

<%= form_for(@comment) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, :autofocus => true %>

<%= f.label :comment %>
<%= f.text_area :comment, :required => true %>

<%= f.submit %>
<% end %>

<%= button_to "Back to Home", root_path, method: "get" %>
