<!DOCTYPE html>
<html>
  <head>
    <title>Joel is Awesome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Hey Joel, you are Awesome!", root_path  %></h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <span>Made with &hearts; by GA SEI-36</span>
      <br>
      <span>Special thanks to Carmina(Mina), Mitch, Kenneth(aka Lawrence), Viv, Yuki & Zara</span>
      <marquee>Kill All Humans || ¯\_(ツ)_/¯ || Four Corners and Media Watch || Great Work Everyone || Audrey === Cuteness || This is the life you have chosen || Skateboard fail || Nothing works in production </marquee>
    </footer>

  </body>
</html>
